.app-dice{
    color: #9763b7;
}
button.roll-dice{

    color: #fff;
    font-weight: 700;
    border: 1px none #8834bd;
    font-size: large;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #9763b7;
    width: 200px;
    height: 90px;
    cursor: pointer;
    box-shadow: #000000a6 5px 4px 2px;

}
button.roll-dice:hover{
    background-color: #000;
}

 